<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página ADM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add your custom CSS link here -->
    <link rel="stylesheet" href="{% url 'admin' %}">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Administração</h1>
        <p class="text-center">Esta página é propriamente para administradores do website.</p>
        <hr>use-a com cautela<hr>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Administração
                    </div>
                    <div class="card-body">
                       Pessoa Física
                    </div>
                    <div class="card-footer">
                       Pessoa Jurídica
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Configurações de Privacidade
                    </div>
                    <div class="card-body">
                        
                    </div>
                    <div class="card-footer">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
