{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página ADM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% url 'admin_site' %}">
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center">Administração</h1>
        <p class="text-center">Esta página é propriamente para administradores do website.</p>
        <hr>use-a com cautela<hr>
        
        <div class="row mx-auto">
            <div class="col-md-6">
                <div class="card">
                    <a href="/admin/app" class="card-link">
                        <div class="card-header">
                            Administração
                        </div>
                    </a>
                    <a href="/admin/app/candidato" class="card-link">
                        Pessoa Física
                    </a>
                    <a href="/admin/app/empresa" class="card-footer"> 
                        Pessoa Jurídica
                    </a>
                </div>
            </div>
        </div>

        <div class="row mx-auto">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Configurações de Privacidade
                    </div>
                    <div class="card-body">

                </div>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
