<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Vagas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h2>Consultar Vagas</h2>
    
    <!-- Adicione um formulário de pesquisa -->
    <form method="GET" action="{% url 'vagas' %}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Pesquisar vagas..." name="q">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Pesquisar</button>
            </div>
        </div>
    </form>
    
    {% for vaga in vagas %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ vaga.titulo }}</h5>
                <p class="card-text">{{ vaga.descricao }}</p>
                <p class="card-text">{{ vaga.area }}</p>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Incluindo jQuery e Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
